  <div class = "container" ng-show="page === 'list'" >

  		<div class="jumbotron">
		    <h1>A Simple todo Application <span class="label label-info">{{ todos.length }}</span></h1> 
		    <p>Manage your daily todos here</p> 
		</div>
		

      

     
      <center>
        <table class= "table table-nonfluid table-striped ">
          <thead>
              <tr>
                <th> Task</th>
                <th> Notes</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat = "todo in filteredTodos">
                  <td>
                      <a href="#/{{todo._id}}">{{todo.title}}</a>
                  </td>
                   <td>
                      {{todo.note}}
                  </td>
                  
                  <td>
                      <button class="btn btn-primary" ng-click="edit(todo._id,todo.title,todo.note)">Edit</button>
                  </td>

                  <td>
                      <button class="btn btn-danger" ng-click="changeStatus(todo._id)">Delete</button>
                  </td>
              </tr>
              <tr>
                <td >
                  <input type="text" ng-model="newTodoTitle" >
                </td>

                <td >
                  <input type="text" ng-model="newTodoNote" >
                </td>
                <!--<td>
                  <select name="selectedFacilityId" ng-model="selectedFacilityId">
                         <option ng-repeat="cat in categories" value="{{cat.name}}" ">{{cat.name}}</option>
                     </select> 
                </td>-->
                <td >
                  <button ng-click="saveThis()" class="btn btn-primary">Create</button>
                </td>
              </tr>
          </tbody>
        </table>

       <pagination boundary-links="true" 
    				max-size="3" 
    				items-per-page="numPerPage"
    				total-items="todos.length" 
    				ng-model="currentPage" 
    				ng-change="pageChanged()">
    					
    	</pagination> 
    
      </center>
  </div>

  <div class = "container" ng-show="page === 'editor'">
    <table class = "table table-striped">
      <thead>
        <th> Title </th>
        <th> Note </th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>
              Title: <input ng-model="title">
          </td>

          <td>
              Note: <input ng-model="note">
          </td>

          <td>
              <button ng-click="save()" class="btn btn-success">Save</button>
          </td>

          <td>
              <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 

  
